In [31]:
import pandas as pd
import numpy as np

np.random.seed(seed=0)
matrix = np.random.randn(6, 5)
df = pd.DataFrame(matrix)
sequence = pd.Series(range(1, 101))

print(df)

          0         1         2         3         4
0  1.764052  0.400157  0.978738  2.240893  1.867558
1 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2  0.144044  1.454274  0.761038  0.121675  0.443863
3  0.333674  1.494079 -0.205158  0.313068 -0.854096
4 -2.552990  0.653619  0.864436 -0.742165  2.269755
5 -1.454366  0.045759 -0.187184  1.532779  1.469359

## 累计函数

In [32]:
print('-------------------------------------------------------')
# np.cumsum(range(1, 101))
print(df.cumsum())
print(sequence.cumsum())

print('-------------------------------------------------------')
# np.cumprod(range(1, 6))
print(df.cumprod())

-------------------------------------------------------
          0         1         2         3         4
0  1.764052  0.400157  0.978738  2.240893  1.867558
1  0.786774  1.350246  0.827381  2.137674  2.278156
2  0.930818  2.804519  1.588419  2.259349  2.722020
3  1.264492  4.298598  1.383260  2.572417  1.867924
4 -1.288497  4.952217  2.247696  1.830252  4.137679
5 -2.742863  4.997975  2.060513  3.363031  5.607037
0        1
1        3
2        6
3       10
4       15
      ...
95    4656
96    4753
97    4851
98    4950
99    5050
Length: 100, dtype: int64
-------------------------------------------------------
          0         1         2         3         4
0  1.764052  0.400157  0.978738  2.240893  1.867558
1 -1.723969  0.380185 -0.148139 -0.231302  0.766817
2 -0.248327  0.552893 -0.112739 -0.028144  0.340362
3 -0.082860  0.826065  0.023129 -0.008811 -0.290701
4  0.211541  0.539932  0.019994  0.006539 -0.659821
5 -0.307658  0.024706 -0.003743  0.010023 -0.969514

In [24]:
print('-------------------------------------------------------')
print(df.cummax()) 

print('-------------------------------------------------------')
print(df.cummin())

-------------------------------------------------------
          0         1         2         3         4
0  1.764052  0.400157  0.978738  2.240893  1.867558
1  1.764052  0.950088  0.978738  2.240893  1.867558
2  1.764052  1.454274  0.978738  2.240893  1.867558
3  1.764052  1.494079  0.978738  2.240893  1.867558
4  1.764052  1.494079  0.978738  2.240893  2.269755
5  1.764052  1.494079  0.978738  2.240893  2.269755
-------------------------------------------------------
          0         1         2         3         4
0  1.764052  0.400157  0.978738  2.240893  1.867558
1 -0.977278  0.400157 -0.151357 -0.103219  0.410599
2 -0.977278  0.400157 -0.151357 -0.103219  0.410599
3 -0.977278  0.400157 -0.205158 -0.103219 -0.854096
4 -2.552990  0.400157 -0.205158 -0.742165 -0.854096
5 -2.552990  0.045759 -0.205158 -0.742165 -0.854096

## 滑动窗口

In [48]:
print('-------------------------------------------------------')
# df.rolling(window=3).sum()

print('-------------------------------------------------------')
print(df.rolling(window=3).aggregate(lambda x : x.prod()))
print(df.rolling(window=3).apply(lambda x : x.prod()))

-------------------------------------------------------
-------------------------------------------------------
          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN
2 -0.248327  0.552893 -0.112739 -0.028144  0.340362
3 -0.046972  2.064352  0.023632 -0.003932 -0.155659
4 -0.122706  1.420182 -0.134967 -0.028271 -0.860468
5  1.238926  0.044686  0.033196 -0.356138 -2.848481
          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN
2 -0.248327  0.552893 -0.112739 -0.028144  0.340362
3 -0.046972  2.064352  0.023632 -0.003932 -0.155659
4 -0.122706  1.420182 -0.134967 -0.028271 -0.860468
5  1.238926  0.044686  0.033196 -0.356138 -2.848481

In [50]:
df.rolling(window=3).std()

          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN
2  1.378204  0.527224  0.599579  1.293350  0.831740
3  0.708510  0.303236  0.542969  0.208368  0.739961
4  1.614661  0.474167  0.589952  0.562193  1.569343
5  1.456988  0.727267  0.612408  1.138463  1.622627